{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Detailed book review</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <a href="{% url "reviews_list" %}">Back to list</a>
            <a href="{% url "create_review" %}">Create a Review!</a>
        </header>
        <main>
            <div> class="main-page-book-review">
                <img class="book-cover" src = "{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href = "detail.html"> {{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                    {{ review.authors }}
                </div>
                <h3>Summary</h3>
                <p>{{ review.summary }}</p>
                <h2>My review</h2>
                <p>{{ review.review }}</p>
            </div>
        </main>
        <footer>
            <div>
                Copyright 2022 by me
            </div>
            <p>This website is where I review books!</p>
        </footer>
    </body>
</html>